@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1rem;
}

.hero-image img {
    max-width: 300px;
}
  .box-container {
    flex-direction: column;
    text-align: center;
  }

  .box-container p {
    max-width: 100%;
  }

  .box-container img {
    max-width: 80%;
    margin: 0 auto;
  }

  .container-sobre, 
  .container-form { 
    display: flex;
    flex-direction: column;
  }
  
  .logo img {
    position: relative;
    right: 12rem;
  }
  
}

@media (max-width: 480px) {
  .hero-image img {
    display: none;
  }

  .logo img {
    position: relative;
    right: 5rem;
  }
  .services-grid {
    display: flex;
    flex-direction: column;
    padding: 20px 8%;
  }

  .card {
    width: 100%;
  }
}
